/* ALYSA LIU CONTROLLER IMAGE */
.edit,
.controller.xbox {
    background-image: url("https://raw.githubusercontent.com/noahhernadez310-lab/alysa-gamepad-skin/refs/heads/main/alysa_gamepad_base_v2_750x630%20%281%29.png") !important;
    background-size: 750px 630px !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

/* STOCK XBOX ONE CONTROL ALIGNMENT */

.controller.xbox {
    width: 750px !important;
    height: 630px !important;
    transform: none !important;
}

/* ABXY */
.abxy {
    position: absolute !important;
    left: 488px !important;
    top: 192px !important;
    transform: none !important;
}

/* Analog sticks */
.sticks {
    position: absolute !important;
    left: 144px !important;
    top: 239px !important;
    transform: none !important;
}

/* D-Pad */
.dpad {
    position: absolute !important;
    left: 223px !important;
    top: 345px !important;
    transform: none !important;
}

/* Menu / View buttons */
.arrows {
    position: absolute !important;
    left: 306px !important;
    top: 264px !important;
    transform: none !important;
}

/* Bumpers */
.bumpers {
    position: absolute !important;
    left: 107px !important;
    top: 129px !important;
    width: 536px !important;
    height: 61px !important;
    transform: none !important;
}

/* Triggers */
.triggers {
    position: absolute !important;
    left: 152px !important;
    top: 0px !important;
    width: 446px !important;
    height: 121px !important;
    transform: none !important;
}
